* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;   
}

header {
    /* position */

    display: block;
    height: 100vh;
    padding: 100px;

    /* background */

    background-image: url("./../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

article {
    font-size: 0;
}

.readmore-btn {
    /* position */

    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;

    /* decoration */

    color: #926239;
    border: solid 1px #926239;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0);
}

.readmore-btn:hover {
    color: white;
    background-color: #926239;
}

.brownFont-header {
    color: #926239;
    background-color: rgba(28, 28, 28, 0);
}

.p-section {
    font-size: medium;
    padding: 5px;
}

.brownBg {
    color: white;
    background-color:#926239;
}

.brownFont {
    color: #926239;
    background-color: white;
}

.article {
    font-size: medium;
    display: inline-block;
    width: 33.33%    
}