* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    text-align: center;   
}

header {
    height: 300px;
    background-image: url("./../img/bg.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: right 50% bottom 15%;
    box-sizing: content-box;
    margin: 0,5%;
    padding: 100px;
    display: block;
}

section {
    display: inline;
    padding: 0px;
}

article {
    font-size: 0;
    padding: 0px;
}

#readmore-btn {
    border: solid 1px #926239;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0);
}

.brownBg-header {
    color: white;
    background-color:#926239;

}

.brownFont-header {
    color: #926239;
    background-color: rgba(28, 28, 28, 0);
}

.brownBg-section {
    font-size: medium;
    color: white;
    background-color:#926239;

}

.brownFont-section {
    font-size: medium;
    color: #926239;
    background-color: #F3F5F4;
}

.brownBg-article {
    font-size: medium;
    color: white;
    background-color:#926239;
    display: inline-block;
    width: 33%    
}

.brownFont-article {
    font-size: medium;
    color: #926239;
    background-color: white;
    display: inline-block;
    width: 33%
}
